<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/album.css" type="text/css" />

    <!-- External JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Internal Javascript -->
    <script type="text/javascript" src="/scripts/createMap.js"></script>
    <script type="text/javascript" src="/scripts/get-maps.js"></script>
    <script type="text/javascript" src="/scripts/render-homepage.js"></script>
    <script type="text/javascript" src="/scripts/render-map-view.js"></script>
    <script type="text/javascript" src="/scripts/handle-login.js"></script>
    <script type="text/javascript" src="/scripts/handle-likes-homepage.js"></script>





  </head>
  <body>
    <main role="main">
      <% include ./partials/_header %>

    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Wiki-Maps</h1>
          <p class="lead">Welcome to Wiki-Maps.  Literally the best website ever.</p>
         <a href="api/maps/new"> <button type="button" class="btn btn-primary my-3">Create Map</button></a>
        </div>
      </section>

      <!-- Main map container -->
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <!-- Full VW row start -->

            <!-- Full VW row end -->

            <!-- Main map container end -->
          </div>
        </div>
      </div>
      </main>

      <% include ./partials/_footer %>
      <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwqMRP7XfcwpGlHAXUyhv5c1_1jFKs84c&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



  </body>
</html>
