<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/album.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>



  </head>

  <body>
    <main role="main">
      <% include ./partials/_header %>

    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Wiki-Maps</h1>
          <p class="lead text-muted">Welcome to Wiki-Maps.  Literally the best website ever.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Wiki</a>
            <a href="#" class="btn btn-secondary my-2">Maps</a>
          </p>
        </div>
      </section>

      <!-- Main map container -->
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <!-- Full VW row start -->
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- Full VW row end -->
            <!-- Full VW row start -->
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- Full VW row end -->
            <!-- Full VW row start -->
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <span class=font-weight-bold>User</span>
                  <h3 class="card-text py-2">Greatest places to eat in Montreal</h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">&hearts; 1234</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- Full VW row end -->

            <!-- Main map container end -->
          </div>
        </div>
      </div>
      </main>

      <% include ./partials/_footer %>


    <!-- <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/holder.min.js"></script>



  </body>
</html>
